{% extends 'base.html' %}
{% block head %}
<title>Coronavirus Counter - Countries</title>
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
{% endblock %}
{% block body %}
<!-- HTML -->
<h1 style="padding-top: 70px" class="container align-center" id="top">Countries</h1>
<div class="container">
  <p>Click or tap on the table headings to sort the table</p>
  <div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text"><i class="material-icons">search</i></span>
  </div>
  <input class="form-control" id="myInput" type="text" placeholder="Search"></div>
  <table class="table table-responsive-sm sortable sticky-header" style="margin-top: 20px">
    <div class="header">
      <thead>
        <tr>
          <th class="sticky-top">Country</th>
          <th class="sticky-top">Cases</th>
          <th class="sticky-top">Recovered</th>
          <th class="sticky-top">Deaths</th>
        </tr>
      </thead>
    </div>
    <tbody id="myTable">
      <div class="content">
        {% for i in a %}
        <tr id="{{ i.country }}">
          <td><a href="/countries/{{i.country}}" class="btn btn-link" style="text-align: left;"><img src="{{i.countryInfo.flag}}" width="40" class="img-responsive float-left" style="margin-right: 5px"> {{ i.country }}</a></td>
          <td>{{ '{:,}'.format(i.cases) }}</td>
          <td>{{ '{:,}'.format(i.recovered) }}</td>
          <td>{{ '{:,}'.format(i.deaths) }}</td>
        </tr>
        {% endfor %}
      </div>
    </tbody>
  </table>
</div>
<a href="#top" id="myBtn" title="Back to top" class="btn btn-danger"><i class="material-icons" style="font-size: 30px">expand_less</i></a>
<style media="screen">
#myBtn {
display: none;
position: fixed;
bottom: 20px;
right: 30px;
z-index: 99;
}
</style>
<script type="text/javascript">
mybutton = document.getElementById("myBtn");

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
if (document.body.scrollTop > 120 || document.documentElement.scrollTop > 120) {
  mybutton.style.display = "block";
} else {
  mybutton.style.display = "none";
}
}
</script>
<script>
$(document).ready(function(){

  $("a").on('click', function(event) {

    if (this.hash !== "") {
      event.preventDefault();
      var hash = this.hash;

      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 500, function(){

        window.location.hash = hash;
      });
    }
  });
});
</script>
<script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>
{% endblock %}
